.todo {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: auto;
  background-color: #f4f4f4;
}



.botones button {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  background-color: #a0002a;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.centro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 140px;
  gap: 40px;
  flex-grow: 1;
  width: 100%;
  z-index: 1;
}

.comentarios {
  text-align: center;
  margin-bottom: 40px;
}

.comentarios h1 {
  font-size: 40px;
  margin-bottom: 10px;
  color: #a0002a;
  text-transform: uppercase;
  padding-top: 50px;
  font-style: italic;
}

.formulario-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 500px;
  padding: 40px;
  background: linear-gradient(135deg, #f4f4f4, #ffffff);
  border: 2px solid #a0002a;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  align-self: center;
}

.formulario-container label {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.formulario-container input,
.formulario-container textarea {
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 16px;
  background-color: #fff;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.formulario-container input:focus,
.formulario-container textarea:focus {
  border-color: #a0002a;
  box-shadow: 0 0 8px rgba(160, 0, 42, 0.3);
  outline: none;
}

.formulario-container textarea {
  resize: vertical;
  min-height: 140px;
}

.formulario-container .send {
  align-self: flex-start;
  padding: 12px 30px;
  background-color: #a0002a;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: color 0.3s, border-bottom-color 0.3s, transform 0.2s;
  box-shadow: 0px 4px 10px rgba(0, 123, 255, 0.2);
  width: 100%;
  margin-top: 20px;
  border-bottom: 2px solid transparent;
}

.formulario-container .send:hover {
  border-bottom-color: #a0002a;
  color: #a0002a;
  background-color: white;
}

.formulario-container .send:active {
  transform: scale(0.95);
}

.highlight {
  width: 100vw;
  background-color: #a0002a;
  color: white;
  padding: 20px 0;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
  box-shadow: 0px 4px 10px rgba(160, 0, 42, 0.3);
  font-style: italic;
  position: relative;
  left: 0;
  top: 0;
}