html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: auto;
}


.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}


main {
  flex: 1;
  padding-top: 100px;
  width: 100%;
  text-align: center;
}

.welcome {
  margin: 40px 0;
}

.company-name {
  font-size: 2.8rem;
  color: #ffffff;
  font-weight: bold;
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../assets/imagenes/fraccionamiento.jpeg') no-repeat center center/cover;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.company-motto {
  font-size: 1.6rem;
  color: white;
  margin-top: 10px;
  font-style: italic;
  background-color: #a0002a;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(160, 0, 42, 0.2);
}


.mission {
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  max-width: 800px;
  margin: 20px auto;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(160, 0, 42, 0.2);
}

.mission h2 {
  font-size: 2rem;
  color: #a0002a;
  margin-bottom: 10px;
}

.mission p {
  font-size: 1.2rem;
  color: #333;
  line-height: 1.6;
}


.slider {
  margin: 30px auto;
  max-width: 800px;
  height: 300px;
  overflow: hidden;
}

.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


